.DS_Store
/app/Resources
/app/platform
/app/i18n
build.log
build
npm-debug.log
tmp
.map
.project
.settings
Thumbs.db
/app/ios/ti.animation.xcodeproj/xcuserdata
/app/ios/build
/app/ios/*.xcuserstate
/app/android/build
/app/android/libs
/app/android/example
/app/android/dist
/app/android/java-sources.txt
/app/android/build.properties
/widget/android/local.properties
/widget/android/.idea
/app/ios/ti.animation.xcodeproj/project.xcworkspace/xcuserdata/*
.DS_Store
/app/ios/Cartfile.resolved
/app/ios/Carthage
/app/android/.gradle
/app/android/.settings/org.eclipse.buildship.core.prefs
/app/android/.settings/
/app/android/manifest.bak
/app/android/.classpath
/app/android/.project
*.apk
*.aab
